# Copiez ce fichier en .streamlit/secrets.toml (non versionné) et renseignez vos identifiants,
# ou configurez-les comme "Secrets" dans Streamlit Community Cloud.

[telegram]
bot_token = "VWAP_Mattaranka_bot"
chat_id = "8813466985:AAEfGqLaoJUfUVFkBnE29PxK4v-YGRkZVOk"
